BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "patientHealthData" (
	"Patient_ID" BIGINT, 
	"Date" TEXT, 
	"Time_of_Day" TEXT, 
	"Glucose_Level" FLOAT, 
	"Systolic_Pressure" BIGINT, 
	"Diastolic_Pressure" BIGINT, 
	"Dietary_Info" TEXT, 
	"Water_Intake (Liters)" FLOAT, 
	"Steps_Taken" BIGINT
);
COMMIT;
